<h2>complete el siguiente formulario</h2>

<form action="">

<input type="text" placeholder="nombre">

<input type="text" placeholder="apellido">

<input type="text" placeholder="edad">

<input type="submit">

</form